.container {
    padding: var(--fs-h5);
    width: 100%;
}

.title {
    text-transform: capitalize;
    font-size: var(--fs-h2);
    margin-bottom: var(--fs-h5);
    color: var(--text);
}

.projectList {
    display: flex;
    flex-direction: row;
    gap: var(--fs-h5);
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: auto;
    padding-bottom: var(--fs-h5);

    scrollbar-width: thin;
    scrollbar-color: var(--text) transparent;
}

.projectItem {
    flex: 0 0 auto;
}

.viewMoreItem {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.viewMoreLink {
    font-size: var(--fs-h4);
    display: inline-block;
    padding: var(--fs-h5);
    background-color: transparent;

    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 7px var(--secondary-color);
}

.viewMoreLink:hover {
    transform: translateX(var(--fs-h4));
}

.emptyMessage,
.errorMessage {
    font-style: italic;
    padding: var(--fs-h4) 0;
}

.emptyMessage {
    color: var(--information);
}

.errorMessage {
    color: var(--error);
}