.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    backdrop-filter: blur(2px);
    animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

.container {
    position: relative;
    width: clamp(320px, 100vw - 50px, 500px);
    height: clamp(80dvh, 120dvh - 50vw, 100dvh);
    top: 70px;
    margin: 0 auto;

    background-color: var(--background);

    box-shadow: 0px 0px 7px var(--primary-color);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--borders-and-dividers);
    animation: slide-in-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.searchInput {
    width: 100%;
    padding: var(--fs-h5);
    background-color: var(--background);
    border: 1px solid var(--borders-and-dividers);
    color: var(--text);
    font-size: var(--fs-h5);
    outline: none;
    transition: all 0.2s;
    border-bottom: solid var(--secondary-color) 1px;
}

.searchInput:focus {
    box-shadow: 0px 0px 7px var(--secondary-color);
}

.resultsContainer {
    flex: 1;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--text) var(--background);

    display: flex;
    align-items: start;
    justify-content: center;
}

.resultsList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.resultItem {
    border-bottom: 1px solid var(--borders-and-dividers);
}

.resultLink {
    color: var(--text);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: var(--fs-h5);
    text-decoration: none;
    padding: var(--fs-h5);
    transition: background-color .2s;
    box-sizing: border-box;
    overflow: hidden;

    width: 100%;
    height: clamp(70px, 15vw + 50px, 150px)
}

.resultLink:hover {
    background-color: var(--secondary-color);
}

.infoContainer {
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.projectTitle {
    font-size: var(--fs-h5);
    flex: 0 0 80%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: block;
    min-width: 0;
    line-height: 1.2;
    box-sizing: border-box;
}

.projectCatalog {
    font-size: var(--fs-h5);
    color: var(--success);
    text-transform: capitalize;

    flex: 0 0 20%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.coverImage {
    flex: 1;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--borders-and-dividers);
}

.statusMessage {
    font-size: var(--fs-h5);
    padding: var(--fs-h5);
    text-align: center;
    color: var(--information);
}

.errorMessage {
    font-size: var(--fs-h5);
    padding: var(--fs-h5);
    text-align: center;
    color: var(--error);
}