.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;

    display: flex;
    justify-content: flex-start;
    backdrop-filter: blur(2px);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}


.sidebar {
    width: clamp(320px, 5vw + 320px, 400px);
    height: 100%;
    border-right: 1px solid var(--text);

    background-color: var(--background);

    animation: color-change-2x 2s linear infinite alternate both;

    padding: var(--fs-h5);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    transform: translateX(-100%);

    transition: transform 0.3s;

    scrollbar-width: thin;
    scrollbar-color: var(--text) var(--background);
}

.sidebar.open {
    transform: translateX(0);
}


@keyframes color-change-2x {
    0% {
        background: #46347a;
    }

    100% {
        background: #1e5c46;
    }
}

.closeButton {
    align-self: flex-end;
    background: transparent;
    border: none;
    padding: .5rem .7rem;
    cursor: pointer;
    border-radius: 7px;
}

.closeButton:hover {
    background: #fff;
    color: var(--background);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: var(--fs-h5);
}

.nav h2 {
    font-size: var(--fs-h2);
}

.nav hr {
    border: 0;
    border-top: 1px solid var(--text);
    width: 100%;
    margin: var(--fs-h5) 0;
}

.nav p {
    font-size: var(--fs-h4);
    color: var(--information);
    text-transform: uppercase;
    margin-left: var(--fs-h5);
    font-weight: bold;
    text-decoration: underline;
}

.link {
    color: var(--text);
    text-decoration: none;
    transition: all 0.2s;
    margin-left: var(--fs-h5);
    font-size: var(--fs-h4);
}

.link:hover {
    color: var(--success);
    text-shadow: 0 0 7px var(--text);
    padding-left: var(--fs-h5);
}