.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--fs-h5);
    animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

.header {
    text-align: center;
    margin: var(--fs-h4) 0;
}

.header h2 {
    margin: var(--fs-h4) 0;
    font-weight: 800;
    font-size: var(--fs-h2);
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0 0 7px var(--secondary-color);
}

.header p {
    color: var(--var);
    font-size: var(--fs-h4);
    text-shadow: 0 0 7px var(--secondary-color);
}

.projectList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--fs-h5);
}

.projectCard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--fs-h5);
    background: var(--background);
    padding: var(--fs-h5);
    overflow: hidden;
}

.projectCard:nth-child(even) {
    flex-direction: row-reverse;
}

.imageContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

    background-color: var(--background);
    background-image: url('assets/no-image-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 7px;
    box-shadow: 0 0 1rem var(--secondary-color);
    overflow: hidden;
}

.coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.title {
    font-size: var(--fs-h4);
    margin-bottom: .7rem;
    color: var(--success);
    text-shadow: 0 0 7px var(--secondary-color);
}

.author,
.date,
.catalog {
    margin: 0;
    font-size: var(--fs-h5);
    color: var(--text);
}

.description {
    margin-top: var(--fs-h5);
    line-height: 1.6;
    color: var(--information);
    overflow-y: auto;
    min-height: 0;
    padding-right: var(--fs-h5);
    scrollbar-width: thin;
    scrollbar-color: var(--text) transparent;
    font-size: var(--fs-h5);
}

.loading,
.empty,
.error {
    padding: var(--fs-h5);
    text-align: center;
}

.loading {
    color: var(--information);
}

.empty {
    color: var(--warning);
}

.error {
    color: var(--error);
}


@media (max-width: 768px) {

    .projectCard,
    .projectCard:nth-child(even) {
        flex-direction: column;
    }

    .imageContainer {
        width: 100%;
        flex: none;
    }

    .detailsContainer {
        width: 100%;
        height: auto;
        flex: none;
    }
}