.container {
    width: 100%;
    max-width: 700px;
    padding: var(--fs-h5);
    margin: 0 auto;
    text-align: center;
    animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

.heading {
    margin: var(--fs-h4) 0;
    font-weight: 800;
    font-size: var(--fs-h3);
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0 0 7px var(--secondary-color);
}

.formGroup {
    margin: var(--fs-h1) 0;
}

.label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: var(--fs-h4);
}

.rangeInput {
    width: 100%;
    cursor: pointer;
}

.selectWrapper {
    position: relative;
    width: 100%;
}

.selectButton {
    width: 100%;
    height: clamp(70px, 5vw + 50px, 100px);
    overflow: hidden;

    border: 1px solid var(--borders-and-dividers);
    padding: var(--fs-h5);
    font-size: var(--fs-h5);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--fs-h5);
    border-radius: 7px;
    background-color: var(--background);
    color: var(--color);
    user-select: none;
    transition: background-color 0.2s ease;
}

.selectButton:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 7px var(--text);
}

.thumbnail {
    width: clamp(60px, 5vw + 40px, 100px);
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
    flex-shrink: 0;
}

.dropdownList {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid var(--borders-and-dividers);
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--background);
    z-index: 10;
    border-radius: 7px;
    font-size: var(--fs-h5);

    scrollbar-width: thin;
    scrollbar-color: var(--text) transparent;
}

.dropdownItem {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    transition: background-color 0.2s ease;
}

.dropdownItem:last-child {
    border-bottom: none;
}

.dropdownItem:hover {
    background-color: var(--primary-color);
}

@media (max-width: 480px) {

    .selectWrapper,
    .rangeInput {
        max-width: 100%;
    }
}