.mainContainer {
    background-color: var(--background);
    min-height: 100vh;
    overflow-x: hidden;
    animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both;
}

.heroSection {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.heroVignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #141414 0%, transparent 60%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 1;
}

.heroContent {
    position: relative;
    z-index: 2;
    padding: 0 4%;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--fs-h5);
}

.heroContentLeft {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heroContentRight {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.heroLogo {
    width: clamp(200px, 17vw + 100px, 400px);
    aspect-ratio: 16/9;
    height: auto;
    object-fit: contain;
    margin: var(--fs-h3) 0;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
}


.title {
    font-size: var(--fs-h2);
    font-weight: 800;
    margin: var(--fs-h5) 0;
    text-shadow: 0 0 3px var(--background);
    text-align: left;
}

.metadata {
    display: flex;
    align-items: center;
    gap: var(--fs-h5);
    font-weight: 500;
    color: var(--text);
    text-shadow: 0 0 3px var(--background);
}

.status {
    padding: var(--fs-h4);
    font-weight: bold;
    font-size: var(--fs-h4);
}

.finalizado {
    color: var(--information);
    text-shadow: 0 0 10px var(--information);
}

.en-emisión {
    color: var(--warning);
    text-shadow: 0 0 10px var(--warning);
}

.cancelado {
    color: var(--error);
    text-shadow: 0 0 10px var(--error);
}

.catalog {
    border: 1px solid var(--text);
    padding: 0.1rem 0.4rem;
}

.description {
    font-size: var(--fs-h5);
    line-height: 1.5;
    text-shadow: 0 0 3px var(--background);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    margin: var(--fs-h5) 0;
}

.detailsInfo {
    margin: var(--fs-h5) 0;
    font-size: var(--fs-h5);
    line-height: 1.6;
    text-align: left;
}

.detailsLabel {
    color: var(--success);
}

.genres {
    text-transform: uppercase;
}

.authorLink {
    color: var(--text);
    text-decoration: underline;
    transition: all ease .2s;

}

.authorLink:hover {
    padding-left: var(--fs-h5);
}

.actions {
    display: flex;
    justify-content: flex-start;
}

.btnPrimary {
    width: clamp(200px, 5vw + 180px, 220px);
    height: clamp(30px, 5vw + 10px, 50px);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--fs-h5);
    border-radius: 7px;
    font-size: var(--fs-h4);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}

.btnPrimary {
    background-color: var(--text);
    color: #000;
}

.btnPrimary:hover {
    color: var(--text);
    background: #833AB4;
    background: linear-gradient(193deg, var(--success) 0%, var(--primary-color) 100%);
    box-shadow: 0 0 7px var(--primary-color);
    margin-left: var(--fs-h5);
}

.gallerySection {
    padding: var(--fs-h5);
    position: relative;
    z-index: 2;
}

.galleryTitle {
    font-size: var(--fs-h3);
    margin-bottom: var(--fs-h5);
}

.galleryRow {
    display: flex;
    gap: var(--fs-h5);
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--text) transparent;
}


.galleryImage {
    width: clamp(200px, 5vw + 200px, 300px);
    height: clamp(120px, 5vw + 100px, 150px);
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid var(--text);
    flex-shrink: 0;
    transition: all ease-in-out .3s;
}

.galleryImage:hover {
    box-shadow: 0 0 1rem var(--secondary-color);
    z-index: 5;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 90vh;
}

.expandedImage {
    width: 100%;
    max-width: 1100px;
    aspect-ratio: 16/9;
    object-fit: contain;
    height: auto;
}

.closeButton {
    position: fixed;
    top: clamp(35px, 5vw + 20px, 70px);
    right: 0;
    background: none;
    border: none;
    color: white;
    font-size: var(--fs-h1);
    cursor: pointer;
    margin: var(--fs-h4);
}

@media screen and (max-width: 768px) {
    .heroSection {
        height: auto;
        min-height: 75vh;
        align-items: center;
    }

    .heroContent {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .heroContentLeft,
    .heroContentRight {
        flex: 1 1 auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .title,
    .description,
    .detailsInfo {
        text-align: center;
    }

    .description {
        -webkit-line-clamp: 5;
    }

    .actions {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .heroContentRight {
        justify-content: center;
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}