.gridContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-h5);
    padding: var(--fs-h5);
    list-style: none;

    align-items: start;
    justify-content: center;
}

.gridItem {
    flex: 0 1 clamp(120px, 15vw + 50px, 300px);
}