.filtersContainer {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: var(--fs-h5);
    padding: var(--fs-h5);
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    transition: all .3s ease-in;
    margin: 0 auto;
}

.filtersContainer:hover {
    box-shadow: 0px 0px 7px var(--primary-color);
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: var(--fs-h5);
    width: 100%;
}

.label {
    font-size: var(--fs-h4);
    font-weight: 600;
    color: var(--text);
}

.select {
    width: 100%;
    padding: var(--fs-h5);
    font-size: var(--fs-h5);
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--secondary-color);
    border-radius: 7px;
    cursor: pointer;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    scrollbar-width: thin;
    scrollbar-color: var(--text) transparent;
    text-transform: capitalize;
}

.select:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 7px var(--secondary-color);
}


@media (min-width: 560px) {
    .filtersContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filterGroup {
        width: auto;
        flex: 1;
    }
}